.header{
    background-color: black;
    align-items: center;
    background: transparent;
    
    display: flex;
    justify-content: space-between;
    

    
   
    
}

.header_navbar{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    

    
}
.header__logo img {
    margin-left: 37px;
    padding-top: 10px;
    padding-bottom: 7px;
    height: 26px;
        width: 57px;
}






.header__nav a{
    
        color: yellow;
        text-decoration:none;
        margin: 0 20px;
        font-size: 18px;
    
}